# Environments
venv/
.env

# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# ML models (large binary files — we'll handle these separately later)
*.pkl
*.joblib

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Logs
*.log
